*{
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

h1{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}